

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>

<body>
  {% extends 'base.html' %}

   {% block content %}
<br>
   <h1>Category</h1>
   <br>


   <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link " href="#">Mobiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Laptops</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Gaming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Televisions</a>
    </li>
  </ul>

     

    



    {% endblock %}

    
</body>
</html>