<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Address </h1>

    <form  method="POST">
      
        <!-- Change the input to select -->
        <!-- loop throught the user date from the view  -->
      
      
        <label for="User_id">select id :</label>

      
        <select name="User_id" id="User_id">
            
        {% for x in users %}
         <option value="{{x.pk}}">{{x.username}}</option>
         {% endfor %}
        </select>
          
       
        {% csrf_token %}
        <br>
        
        <input type="text" name="Country"  placeholder="Country">
        <br>
        <input type="text" name="City" placeholder="City">
        <br>
       <input type="text" name="street" placeholder="street">
        <br>
    
         <input type="submit" value="Send">
         <br>
         


    </form>



    

      <h1>Category </h1>

    <form action="addAddress" method="POST">
        {% csrf_token %}
        
        <br>
        <input type="text" name="Description"  placeholder="Description">
      
        <br>
    
         <input type="submit" value="Send">
         <br>
         


    </form> 

    <h1>Products</h1>



 <form  method="POST">
      
      
      
      
        <label for="Category_id">select Category :</label>

      
        <select name="Category_id" id="Category_id">
            
         {% for y in pro %}
         <option value="{{y.pk}}">{{y.Category_id}}</option>
         {% endfor %}  
        </select>
          
       
        {% csrf_token %}
        <br>
        
        <input type="text" name="name1"  placeholder="name">
        <br>
        
       <input type="Sku" name="street" placeholder="Sku">
       <br>
       <input type="number" name="price" placeholder="price">
        <br>
        <input type="file" accept="image/*" name="image" placeholder="image">
        
         <br>
         
       
    
         <input type="submit" value="Send">
         <br>
         


    </form> 




 

    
</body>
</html>