<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    
    <h1>Address </h1>

    <form action="info" method="POST">
      
        <!-- Change the input to select -->
        <!-- loop throught the user date from the view  -->
      
      
        <label for="User_id">select id :</label>

      
        <select name="User_id" id="User_id">
            
        {% for x in users %}
         <option value="{{x.pk}}">{{x.username}}</option>
         {% endfor %}
        </select>
          
       
        {% csrf_token %}
        <br>
        
        <input type="text" name="Country"  placeholder="Country">
        <br>
        <input type="text" name="City" placeholder="City">
        <br>
       <input type="text" name="street" placeholder="street">
        <br>
    
         <input type="submit" value="Send">
         <br>
         


    </form>

    
    {% endblock %}
</body>
</html>